dJANGO>=4.2,<5.0
DJANGORESTFRAMEWORK>=3.14.0
DJANGORESTFRAMEWORK-SIMPLEJWT>=5.3.0
PSYCOPG2-BINARY>=2.9.9
DJANGO-CORS-HEADERS>=4.3.0
pILLOW>=10.0.0
PYTHON-MAGIC>=0.4.27
MINIO>=7.2.0
QDRANT-CLIENT>=1.7.0
SENTENCE-TRANSFORMERS>=2.2.2
HTTPX>=0.25.0
COVERAGE>=7.3.0
